<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Introdução ao NodeJS</title>
  </head>
  <body>
    <h1>DETALHE NODE</h1>
    <% var texto = 'EJS' %>
    <p><%= texto %></p>
    <ul>

      <li><%= cliente.nome %> - <%= cliente.email %></li>

    </ul>
  </body>
</html>
